<div id="portfolio" class="container-fluid text-center" ng-controller="portfolioCtrl">
    <h2>Portfolio</h2>
    <div class="row text-center">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="assets/img/edging.jpg" alt="edging">
                <p><strong>Edging</strong></p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="assets/img/lawn2.jpg" alt="lawn">
                <p><strong>Lawn Maintenance</strong></p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="assets/img/lawn1.jpg" alt="finished lawn">
            </div>
            <div class="thumbnail">
                <img src="assets/img/lawn.jpg" alt="finished lawn">
            </div>
            <p><strong>Clean Finish</strong></p>
        </div>
    </div>
</div>

<div class="container-fluid text-center bg-grey" ng-controller="portfolioCtrl as $ctrl">
    <h2>What our customers say</h2>
    <button class="btn btn-md btn-default" ng-click="$ctrl.open('lg')">Add a Review!</button>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    {{ item }}
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>

    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <h4>"This company is the best. I am so happy with the result!"<br><span style="font-style:normal;">Michael Roe, Vice President, Comment Box</span></h4>
            </div>
            <div class="item">
                <h4>"One word... WOW!!"<br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
            </div>
            <div class="item">
                <h4>"Could I... BE any more happy with this company?"<br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
